.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-summary {
  display: flex;
  gap: 12px;
  align-items: center;
}

.product-summary img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 8px;
}

.price {
  font-weight: 600;
  font-size: 14px;
}

.section-title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}

.upload-section input {
  margin-top: 6px;
}

.refund-summary {
  background: #f5f7fa;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
}

.final-amount {
  font-weight: 600;
  color: #1a73e8;
}
.preview-img {
     width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: contain;
    border: 1px solid gray;

}
.preview-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.refund-summary {
  background: #f1f3f6;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.amount {
  color: #1976d2;
}

.product-table {
  width: 100%;
  border-radius: 10px;
  /* overflow: hidden; */
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.product-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 13px;
}

.product-row.header {
  background: #0a4984;
  font-weight: 600;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.product-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-info img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 6px;
}