.choose-location-title {
  position: sticky;           /* Fixes the element to the viewport */
  top: 0px;                 /* Distance from the top */
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  height: 42px;
  background-color: #0a4984;
border-top-left-radius: 18px;
border-top-right-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;           /* Optional spacing */
  z-index: 1000;             /* Keeps it above other elements */
}
.saveAddress{
  border: 1px solid gray;
    border-radius: 8px;
    margin: 0px 15px 0px 15px;
    color: black;
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
  }
.address-form.selected-card {
  background: #e8f5e9;   /* light green */
  border: 1px solid #43a047;
}
