<div class="headerPositionFixed" >
  <nav class="navbar-inverse">
    <form #searchData="ngForm" (ngSubmit)="searchDataFn(myControl.value)">
      <div class="navbar-input_btn ">
         
        
      </div>
    </form>
  </nav>
  <nav class="navbar navbar-menu">
    <div class="input-text-and-btn">
      <form #searchData="ngForm" (ngSubmit)="searchDataFn(myControl.value)">
        <div class="navbar-input_btn ">
          <div class="setwidth">
            <input type="text" placeholder="Search for product, brand & more" aria-label="Number" matInput
              [formControl]="myControl" [matAutocomplete]="auto" #searchValue (keyup)="searchDataFn(myControl.value)">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="setBtn">
            <button type="submit" mat-flat-button>
              <mat-icon>search</mat-icon>
              Search</button>
          </div>
        </div>
      </form>  
    </div>
  </nav>
</div>
