<div class="headerPositionFixed" [class.at-top]="showHeaderAtTop">
  <nav class="navbar navbar-menu">
    <div class="input-text-and-btn">
      <form #searchData="ngForm" (ngSubmit)="searchDataFn(myControl.value)">
        <div class="navbar-input_btn ">
          <div class="setwidth">
            <input type="text" placeholder="Search for product, brand & more" aria-label="Number" matInput
              [formControl]="myControl" [matAutocomplete]="auto" #searchValue (keyup)="searchDataFn(myControl.value)">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          <button type="submit" mat-flat-button class="" style="border-radius:0px ;">
              <mat-icon>search</mat-icon>
              </button>
          </div>
        
        </div>
      </form>  
    </div>
  </nav>
 <div (click)="openBottomSheet()" class="location-content"><mat-icon class="locatin-icon-align mr-1 ml-2">location_on</mat-icon> {{deliverToText}}</div>
</div>
