<section class="d-flex align-items-center justify-content-center pt-4 pl-2 pr-2">
<div class="qr-card">
  <h2 class="title">Pay Using PhonePe QR</h2>
  <!-- QR IMAGE -->
  <img src="../assets/img/qr.jpg" class="qr-image">
  <p class="instruction">
    Scan the QR code to pay <br>
    or <br>
    <span class="upi">UPI ID: ruralx@upi</span>    
  </p>
  <!-- Copy UPI ID -->
  <div class="copy-box">
    <span class="upi-id">ruralx@upi</span>
    <button class="copy-btn" (click)="copyUpiId()">Copy</button>
  </div>

  <!-- Download QR -->
  <button class="download-btn" (click)="downloadQr()">Download QR</button>
  <button class="submit-btn" (click)="uploadScreenshot()">I Have Paid</button>

</div>
</section>