<section class="d-flex align-items-center justify-content-center pt-4 pl-4 pr-4">

<div class="order-card">
  <h2 class="title">We Received Your Order</h2>

  <div class="icon-box">
    <img src="../assets/img/rupee-image.png" class="cod-icon" />
  </div>

  <h3 class="cod-title">Pay in Cash on Delivery</h3>

  <p class="description">
    Please keep the exact amount ready<br />
    at the time of delivery.
  </p>

  <button class="okay-btn" routerLink="/dashboard">Okay</button>
</div>
</section>