<!-- categories.component.html -->
<div class="categories-page">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- <h3>Categories</h3> -->
    <ul>
      <li *ngFor="let cat of uniqueCategories" class="cat-name" (click)="onSelectCategory(cat.category)"
      [class.selected]="selectedCategory === cat.category">
       <label class="category-title" [class.selected]="selectedCategory === cat.category"> {{ cat.category | titlecase}} </label>
        <ul>
          <li class="sub-card"
              [class.selected]="selectedCategory === cat.category">
            <img [src]="cat.variants[0].images[0] | replacePath:'new-ruralx/src':'..'" />
           <label class="subcategory-title">{{ cat.sub_category | titlecase }}</label>
          </li>
        </ul>
      </li>
    </ul>
  </div>
<!-- Main Content -->
<div class="content">
  <div class="category-heading">{{selectedCategory | titlecase}}</div>
  <div class="sub-grid">
    <div class="sub-card all-card-grid" *ngFor="let sub of uniqueSubcategories" (click)="onSelectMainCategory(sub.name)">
      <img [src]="sub.image | replacePath:'new-ruralx/src':'..'" 
           alt="{{ sub.name }}" />
      <span class="main-subcategory-title">{{ sub.name | titlecase }}</span>
    </div>
        <div class="sub-card all-card-grid" *ngFor="let sub of uniqueSubcategories" (click)="onSelectMainCategory(sub.name)">
      <img [src]="sub.image | replacePath:'new-ruralx/src':'..'" 
           alt="{{ sub.name }}" />
      <span class="main-subcategory-title">{{ sub.name | titlecase }}</span>
    </div>    <div class="sub-card all-card-grid" *ngFor="let sub of uniqueSubcategories" (click)="onSelectMainCategory(sub.name)">
      <img [src]="sub.image | replacePath:'new-ruralx/src':'..'" 
           alt="{{ sub.name }}" />
      <span class="main-subcategory-title">{{ sub.name | titlecase }}</span>
    </div>    <div class="sub-card all-card-grid" *ngFor="let sub of uniqueSubcategories" (click)="onSelectMainCategory(sub.name)">
      <img [src]="sub.image | replacePath:'new-ruralx/src':'..'" 
           alt="{{ sub.name }}" />
      <span class="main-subcategory-title">{{ sub.name | titlecase }}</span>
    </div>    <div class="sub-card all-card-grid" *ngFor="let sub of uniqueSubcategories" (click)="onSelectMainCategory(sub.name)">
      <img [src]="sub.image | replacePath:'new-ruralx/src':'..'" 
           alt="{{ sub.name }}" />
      <span class="main-subcategory-title">{{ sub.name | titlecase }}</span>
    </div>    <div class="sub-card all-card-grid" *ngFor="let sub of uniqueSubcategories" (click)="onSelectMainCategory(sub.name)">
      <img [src]="sub.image | replacePath:'new-ruralx/src':'..'" 
           alt="{{ sub.name }}" />
      <span class="main-subcategory-title">{{ sub.name | titlecase }}</span>
    </div>    <div class="sub-card all-card-grid" *ngFor="let sub of uniqueSubcategories" (click)="onSelectMainCategory(sub.name)">
      <img [src]="sub.image | replacePath:'new-ruralx/src':'..'" 
           alt="{{ sub.name }}" />
      <span class="main-subcategory-title">{{ sub.name | titlecase }}</span>
    </div>    <div class="sub-card all-card-grid" *ngFor="let sub of uniqueSubcategories" (click)="onSelectMainCategory(sub.name)">
      <img [src]="sub.image | replacePath:'new-ruralx/src':'..'" 
           alt="{{ sub.name }}" />
      <span class="main-subcategory-title">{{ sub.name | titlecase }}</span>
    </div>    <div class="sub-card all-card-grid" *ngFor="let sub of uniqueSubcategories" (click)="onSelectMainCategory(sub.name)">
      <img [src]="sub.image | replacePath:'new-ruralx/src':'..'" 
           alt="{{ sub.name }}" />
      <span class="main-subcategory-title">{{ sub.name | titlecase }}</span>
    </div>    <div class="sub-card all-card-grid" *ngFor="let sub of uniqueSubcategories" (click)="onSelectMainCategory(sub.name)">
      <img [src]="sub.image | replacePath:'new-ruralx/src':'..'" 
           alt="{{ sub.name }}" />
      <span class="main-subcategory-title">{{ sub.name | titlecase }}</span>
    </div>    <div class="sub-card all-card-grid" *ngFor="let sub of uniqueSubcategories" (click)="onSelectMainCategory(sub.name)">
      <img [src]="sub.image | replacePath:'new-ruralx/src':'..'" 
           alt="{{ sub.name }}" />
      <span class="main-subcategory-title">{{ sub.name | titlecase }}</span>
    </div>
  </div>
</div>

</div>


