<!-- categories.component.html -->
<div class="categories-page">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- <h3>Categories</h3> -->
    <ul>
      <li *ngFor="let cat of uniqueCategories">
       <label class="category-title"> {{ cat.category | titlecase}} </label>
        <ul>
          <li class="sub-card">
            <img [src]="cat.variants[0].images[0] | replacePath:'new-ruralx/src':'..'" />
           <label class="subcategory-title">{{ cat.sub_category | titlecase }}</label>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- Main Content -->
  <div class="content">
    <h2>Explore Categories</h2>
    <div class="grid">
      <div class="card">
        <img [src]="categories[0].image" alt="{{ categories[0].name }}" />
        <h4>{{ categories[0].name }}</h4>

        <div class="sub-grid">
          <div class="sub-card">
            <img [src]="categories[0].image" alt="{{ categories[0].name }}" />
            <p>{{ categories[0].name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


