<section class="vh-100 d-flex align-items-center justify-content-center">
  <mat-card class="mat-elevation-z4 login-section">
    <form   [formGroup]="loginForm" (ngSubmit)="adminLogin(loginForm.value)">
      <h1 class="mat-headline">Login</h1>
      <p class="mb-3">Sign into your account</p>

      <mat-form-field appearance="outline" class="w-100 mb-4">
        <mat-label>Mobile</mat-label>
        <input matInput type="tel" formControlName="mobile"  required>
	    <mat-error>Mobile Number is Required!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-4">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password"  required>
     <mat-error>Password is Required!</mat-error>
      </mat-form-field>

      <div class="mb-4" style="text-align: right;">
        <button mat-raised-button color="primary" type="submit" >
          Login
        </button>
      </div>
      <div class="text-muted small" style="text-align: left;">
        <a href="#" class="admin-login">Forgot password?</a><br />
        <span class="admin-login">Don't have an account? <a class="signlink" (click)="signup()">Register here</a></span><br />
        <a href="#" class="admin-login">Terms of use</a> | <a href="#" class="admin-login">Privacy policy</a>
      </div>
    </form>
  </mat-card>
</section>
