<app-loader [isLoading]="loading"></app-loader>
<div *ngIf="!loading">
  <div class="category-scroll" [class.at-top]="showHeaderAtTop">
    <div class="category-item" *ngFor="let chip of chipsList" (click)="onClickImage(chip.category)">
      <img class="chips-img" [src]="imageBaseUrl + chip.image[0]" [alt]="chip.category" />
      <span>{{ formatCategory(chip.category) | titlecase }}</span>
    </div>
  </div>
  <div class="container-fluid pt-4">
    <div class="offer-strip">
      <marquee scrollamount="4">
        🚚 FREE Delivery on Orders <span>₹299</span> & Above ✨ &nbsp;&nbsp;|&nbsp;&nbsp; 🚀 1-Day Delivery Available*
        &nbsp;&nbsp;|&nbsp;&nbsp; 🛍️ Best Deals Every Day &nbsp;&nbsp;|&nbsp;&nbsp; ⚡ Fast & Reliable Delivery
      </marquee>
    </div>

    <div>
      <div id="homeBannerCarousel" class="carousel slide mb-1" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let banner of bannerImages; let i=index" [class.active]="i===0">
            <div class="banner-card">
              <!-- Left Content -->
              <div class="banner-left">
                <h2>
                  New Collections<br>
                  For You
                </h2>
                <p>
                  Top Quality • Great Prices
                </p>
                <button class="shop-btn" (click)="onClickImage(banner.category)">
                  Shop Now
                </button>
              </div>
              <!-- Right Image -->
              <div class="banner-right">
                <img [src]="imageBaseUrl + banner.image" [alt]="banner.category" class="banner-img">
              </div>
            </div>

          </div>
          <div class="carousel-item">
            <div class="offer-slide">
              <div class="offer-content">
                <span class="offer-tag"> FAST DELIVERY</span>
                <h2>GET YOUR ORDER IN JUST</h2>
                <h1>1 DAY</h1>
                <p>Fast • Reliable • Near You</p>
                <div class="offer-btn">
                  Order Today, Get It Today*
                </div>
              </div>
            </div>

          </div>
        </div>

        <a class="carousel-control-prev" href="#homeBannerCarousel" role="button" data-slide="prev">
          <!-- <span class="carousel-control-prev-icon"></span> -->
        </a>
        <a class="carousel-control-next" href="#homeBannerCarousel" role="button" data-slide="next">
          <!-- <span class="carousel-control-next-icon"></span> -->
        </a>
      </div>
      <!-- Dynamic Card Sub Category Wise  -->
      <div class="product-grid-container">
        <div class="row justify-content-flex-start">
          <div class="product-card col-lg-3 col-md-4 col-sm-6 col-12 mb-2"
            *ngFor="let subcategory of cardSubCategoryList">
            <div class="card shadow-sm h-100">
              <div class="product-name-content">
                {{ categoryData[subcategory]?.name }}
              </div>
              <div class="row g-3 px-3">
                <div class="col-6 col-md-6" *ngFor="let p of categoryData[subcategory]?.products">
                  <div class="product-card">
                    <img class="product-img" [src]="imageBaseUrl + p.image" alt="Image"
                      (click)="onClickImage(subcategory)" />
                    <div class="product-info">
                      <div class="price">
                        ₹{{p.price}}
                        <del class="mrp">&nbsp;{{p.mrp}}</del>
                        <span class="discount">{{p.discount }} off</span>
                      </div>
                      <div class="delivery"><mat-icon
                          class="material-symbols-outlined delivery-icon">local_shipping</mat-icon><span> Free
                          Delivery</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <small class="web-link pt-1">
      Discover more on RuralX : <a href="https://www.ruralx.in" target="_blank" class="ml-1">www.ruralx.in</a>
    </small>
    <br>
    <br>
  </div>
</div>