.settings-container {
    width: 90%;
    margin: 50px auto;
    font-family: Arial, sans-serif;
}

/* Header */
.settings-header {
    background: #0d4c92;
    color: white;
    padding: 5px;
    border-radius: 15px 15px 0px 0px;
    gap: 10px;
    text-align: center;
}


.settings-header h2 {
    margin: 0;
    font-size: 20px;
}

.settings-card {
  background: #fff;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  overflow: hidden;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: 0.3s;
}

.setting-item:last-child {
  border-bottom: none;
}

.setting-item:hover {
  background: #f9f9f9;
}

/* Left section */
.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  font-size: 18px;
}

/* Title */
.title {
  font-size: 14px;
  font-weight: 500;
}

/* Arrow */
.arrow {
  font-size: 20px;
  color: #999;
}

/* Delete style */
.delete {
  color: #e53935;
}

.delete .icon {
  color: #e53935;
}