<div class="settings-container">

    <!-- Header -->

    <!-- Settings List -->
    <div class="settings-list">
    <div class="settings-header">
        <h2>Settings</h2>
    </div>

        <div class="setting-item">
            <mat-icon>person</mat-icon>
            <span>Personal Information</span>
            <mat-icon class="arrow">chevron_right</mat-icon>
        </div>

        <div class="setting-item">
            <mat-icon>credit_card</mat-icon>
            <span>Manage Cards</span>
            <mat-icon class="arrow">chevron_right</mat-icon>
        </div>

        <div class="setting-item">
            <mat-icon>notifications</mat-icon>
            <span>Notifications</span>

            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider"></span>
            </label>
        </div>

        <div class="setting-item">
            <mat-icon>security</mat-icon>
            <span>Security</span>
            <mat-icon class="arrow">chevron_right</mat-icon>
        </div>

        <div class="setting-item">
            <mat-icon>language</mat-icon>
            <span>Language</span>
            <mat-icon class="arrow">chevron_right</mat-icon>
        </div>

        <div class="setting-item">
            <mat-icon>help</mat-icon>
            <span>Ask a Question</span>
            <mat-icon class="arrow">chevron_right</mat-icon>
        </div>

        <div class="setting-item">
            <mat-icon>report</mat-icon>
            <span>Report a Problem</span>
            <mat-icon class="arrow">chevron_right</mat-icon>
        </div>

        <div class="setting-item">
            <mat-icon>info</mat-icon>
            <span>Legal & About</span>
            <mat-icon class="arrow">chevron_right</mat-icon>
        </div>

    </div>
</div>
