<section class="d-flex align-items-center justify-content-center pt-4 pl-4 pr-4">

<div class="upload-card">

  <h2 class="upload-title">Upload Payment Screenshot</h2>

  <label class="file-box">
    <input type="file" (change)="onFileSelected($event)">
    <span class="file-label">Click to choose screenshot</span>
  </label>
<p class="success-text" *ngIf="file">Screenshot Selected ✔</p>

  <button class="submit-btn" [disabled]="!file" (click)="submit()">
    Submit
  </button>

</div>
</section>