.payment-card {
  width: 360px;
  margin: 30px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  font-family: "Inter", sans-serif;
  position: relative;
}

.title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.back-icon {
  position: absolute;
  left: 20px;
  top: 24px;
  font-size: 22px;
  cursor: pointer;
}

.option-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e7e7e7;
  padding: 18px 16px;
  border-radius: 14px;
  margin-bottom: 12px;
  transition: 0.2s;
  background: #fff;
  height: 70px;
}
.option-box span{
    font-size: 16px;
    font-weight: 500;
}
.option-box:hover {
  background: #f7f7f7;
}

.option-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.google-icon {
  width: 50px;
}

.qr-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.radio-btn {
  width: 22px;
  height: 22px;
  accent-color: #1576ff;
}

/* SUBMIT BUTTON */
.submit-btn {
  width: 100%;
  padding: 16px 0;
  margin-top: 18px;
  background: #1576ff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.submit-btn:hover {
  background: #0e63d4;
}
