
<section class="d-flex align-items-center justify-content-center pt-4 pl-2 pr-2">
<div class="payment-card">
    <!-- <div class="back-icon">←</div> -->

    <h2 class="title">Payment Options</h2>
    <!-- UPI OPTION -->
    <div class="option-box" (click)="select('upi')">
        <div class="option-left">
            <img src="../assets/img/gpay.png" class="google-icon">
            <span>UPI  ruralx@upi</span>
        </div>
        <input type="radio" class="radio-btn" [checked]="paymentMethod === 'upi'">
    </div>

    <!-- PHONEPE QR -->
    <div class="option-box" (click)="select('qr')">
        <span>PhonePe QR</span>
        <img src="../assets/img/qr.jpg" class="qr-img">
        <input type="radio" class="radio-btn" [checked]="paymentMethod === 'qr'">
    </div>

    <!-- COD -->
    <div class="option-box" (click)="select('cod')">
        <span>Cash on Delivery</span>
        <input type="radio" class="radio-btn" [checked]="paymentMethod === 'cod'">
    </div>

    <!-- DYNAMIC BUTTON -->
    <button class="submit-btn" (click)="submit()">
        {{ buttonText }}
    </button>

</div>
</section>