.file-inputs label {
  display: block;
  font-weight: 500;
  margin-bottom: 4px;
}

.file-inputs input[type="file"] {
  width: 100%;
}

.editor-section label {
  font-weight: 500;
  display: block;
  margin-bottom: 4px;
}
.file-inputs input[type="file"] {
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
::ng-deep .mat-mdc-form-field-infix {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  min-height: unset !important;
  height: auto !important;
  font-size: 12px;
}
::ng-deep .mat-mdc-text-field-wrapper {
  padding: 10px !important;
  min-height: 36px !important;
 font-size: 12px;
}

::ng-deep .mat-mdc-form-field {
  font-size: 13px !important;
 font-size: 12px;
}
::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 22px;
    font-size: 12px;
}
section .mat-mdc-text-field-wrapper {
  padding-left: 0 !important;
}
::ng-deep section .mat-mdc-form-field-infix {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
section .mat-mdc-form-field-infix {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
section.vh-100.d-flex.align-items-center.justify-content-center.mb-4 {
    width: 50%;
    margin-left: 4%;
    margin-top: 4%;
}
