<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 pt-3">
      <div class="zoom_right_inner_panel">
        <img class="child_img_display" style="height:auto; width:100%"
          src="{{cartItem.img_front | replacePath:'ruralx/src':'..'}}">
      </div>
       <div>
      <div class="zoom_left_inner_panel">
        <!-- <span class="child_img" (mouseover)="ChildMasterDisplay(cartItem.product_img)">
      <img style="width:35px;height:40px;"
      src="assets/img/{{cartItem.product_img}}"></span> -->
        <span class="child_img" (mouseover)="ChildFrontDisplay(cartItem.img_front)"><img style="width:35px;height:40px;"
            src="{{cartItem.img_front | replacePath:'ruralx/src':'..'}}"></span>
        <span class="child_img" (mouseover)="ChildSideDisplay(cartItem.img_side)"><img style="width:35px;height:40px;"
            src="{{cartItem.img_side | replacePath:'ruralx/src':'..'}}"></span>
        <span class="child_img" (mouseover)="ChildBackDisplay(cartItem.img_back)"><img style="width: 35px;height:40px;"
            src="{{cartItem.img_back | replacePath:'ruralx/src':'..'}}"></span>
        <span class="child_img" (mouseover)="ChildTopDisplay(cartItem.img_top)"><img style="width:35px;height:40px;"
            src="{{cartItem.img_top | replacePath:'ruralx/src':'..'}}"></span>
        <span class="child_img" (mouseover)="ChildTriangleDisplay(cartItem.img_triangle)"><img
            style="width:35px;height:40px;" src="{{cartItem.img_triangle | replacePath:'ruralx/src':'..'}}"></span>
      </div>
    </div>
    </div>
    <div class="col-md-7 pt-3">
      <div class="zoom_right_panel">
        <div class="">
          <div class="card-title_1"><strong>{{cartItem.product_name | titlecase}}</strong></div>
          <div class="mrp-content"><span class="rates">₹ {{cartItem.product_price}} </span>
            <span> </span> M.R.P : ₹ <del>
              {{cartItem.product_mrp_price}}</del>
            <span> </span>
            Save ₹ {{cartItem.product_mrp_price-cartItem.product_price}}
            </div>
          <span class="mrp-content">Get it by 
            <span class="delevery_date">Today </span>
          </span>
          <span class="mrp-content"> Free of Delivery by RuralX</span>
        </div>
        <div class="description-title">Product Description : </div>
        <div [innerHTML]="cartItem.product_description"></div>
        <div class="pt-2">
        <nav aria-label="quantity-navigation">
          <h5><strong>Quantity:</strong></h5>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" (click)="decrement()"><strong
                  style="cursor: pointer;">-</strong></a>
            </li>
            <li class="page-item"><a class="page-link">{{counter}}</a></li>
            <li class="page-item"><a class="page-link" (click)="increment()"><strong
                  style="cursor: pointer;">+</strong></a>
            </li>
          </ul>
        </nav>
        <strong class="pt-2">
          <mat-icon id="locationMake" (click)="openDialog_()">location_on</mat-icon>
          <span class="delivery_title">Select Delivery Location</span>
        </strong>
       <div class="pt-3">
        <button class="btn btn-warning btn-md mb-2 mr-2 btn-align-buy" (click)="addCart(cartItem)"><i
            class="fa fa-shopping-cart"> </i> ADD TO CART
        </button>
        <button class="btn btn-danger btn-md mb-2 btn-align-buy" (click)="addDetails()"><i class="fa fa-credit-card"
            aria-hidden="true"></i> BUY NOW</button>
         </div>
        <div> <strong style="color:red;font-size: 11px;"> Secure
            Transaction </strong></div>
      </div>
      </div>

    </div>
  </div>

</div>