/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
/* @import 'swiper/swiper-bundle.min.css'; */
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/zoom';
@import 'swiper/css/thumbs';

.mySwiper {
  width: 100%;
}
.swiper-slide-thumb{
    width: 55px !important;
    height: 55px !important;
    margin: 5px 5px 5px 5px;
    border: 1px solid gray;
    border-radius: 8px;

}


.swiper-slide-thumb img{
 width: 51px !important;
 height: 51px !important;
 border-radius: 8px;
}
.swiper-slide-thumb-active{
  border: 2px solid #ff5b00;
}

html, body { height: 100%; }
body, h1, h2, h3, h4, h5, h6, p, span, div, a, button, input, textarea {
  font-family: 'Poppins', sans-serif !important;
}


html, body { height: 100%; }
body, h1, h2, h3, h4, h5, h6, p, span, div, a, button, input, textarea {
  font-family: 'Poppins', sans-serif !important;
}


/* Apply Poppins globally */
body, input, textarea, button, select {
  font-family: 'Poppins', sans-serif;
}


::ng-deep .mat-table, 
::ng-deep .mat-header-cell,
::ng-deep .mat-cell {
  font-family: 'Poppins', sans-serif !important;
  color: #444 !important;
}
::ng-deep td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-Product-Name.mat-column-Product-Name {
    font-family: 'Poppins', sans-serif !important;
}
::ng-deep .mat-mdc-row, .mdc-data-table__content {
    font-family: 'Poppins', sans-serif !important;
}

::ng-deep .mat-mdc-row, .mdc-data-table__content {
    font-family: 'Poppins', sans-serif !important;
}
.no-scroll{
    /* overflow: hidden; */
}
::ng-deep .mat-drawer-container {
    position: relative;
    z-index: 1;
    color: var(--mat-sidenav-content-text-color);
    background-color: var(--mat-sidenav-content-background-color);
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    display: block;
    /* overflow: hidden; */
}

.toast-bottom-right {
  bottom: 62px !important; /* instead of default 12px or so */
  right: 10px !important;
}
.toast-success {
  border-radius: 12px !important;
  background-color: #d4edda; /* Optional: change color */
}

.toast-error {
  border-radius: 12px !important;
}

.toast-info {
  border-radius: 12px !important;
}

.toast-warning {
  border-radius: 12px !important;
}
.mat-bottom-sheet-container{
border-top-left-radius: 18px;
border-top-right-radius: 18px;
padding: 0px !important;
}