/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
/* @import 'swiper/swiper-bundle.min.css'; */
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/zoom';
@import 'swiper/css/thumbs';

.mySwiper {
  width: 100%;
}
.swiper-slide-thumb{
    width: 55px !important;
    height: 55px !important;
    margin: 5px 5px 5px 5px;
    border: 1px solid gray;
    border-radius: 8px;

}

.swiper-slide-thumb img{
 width: 51px !important;
 height: 51px !important;
 border-radius: 8px;
}
.swiper-slide-thumb-active{
  border: 2px solid #ff5b00;
}

html, body { height: 100%; }
body, h1, h2, h3, h4, h5, h6, p, span, div, a, button, input, textarea {
  font-family: 'Poppins', sans-serif !important;
}


html, body { height: 100%; }
body, h1, h2, h3, h4, h5, h6, p, span, div, a, button, input, textarea {
  font-family: 'Poppins', sans-serif !important;
}


/* Apply Poppins globally */
body, input, textarea, button, select {
  font-family: 'Poppins', sans-serif;
}


::ng-deep .mat-table, 
::ng-deep .mat-header-cell,
::ng-deep .mat-cell {
  font-family: 'Poppins', sans-serif !important;
  color: #444 !important;
}
::ng-deep td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-Product-Name.mat-column-Product-Name {
    font-family: 'Poppins', sans-serif !important;
}
::ng-deep .mat-mdc-row, .mdc-data-table__content {
    font-family: 'Poppins', sans-serif !important;
}

::ng-deep .mat-mdc-row, .mdc-data-table__content {
    font-family: 'Poppins', sans-serif !important;
}
.no-scroll{
    /* overflow: hidden; */
}
::ng-deep .mat-drawer-container {
    position: relative;
    z-index: 1;
    color: var(--mat-sidenav-content-text-color);
    background-color: var(--mat-sidenav-content-background-color);
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    display: block;
    /* overflow: hidden; */
}

.toast-bottom-right {
  bottom: 62px !important; /* instead of default 12px or so */
  right: 10px !important;
}
.toast-success {
  border-radius: 12px !important;
  background-color: #d4edda; /* Optional: change color */
}

.toast-error {
  border-radius: 12px !important;
}

.toast-info {
  border-radius: 12px !important;
}

.toast-warning {
  border-radius: 12px !important;
}
.mat-bottom-sheet-container{
border-top-left-radius: 18px;
border-top-right-radius: 18px;
padding: 0px !important;
}

/* flying animation cart */
.fly-img {
  position: fixed;
  z-index: 10000;
  pointer-events: none;
  border-radius: 18px;
   /* 🔥 SLOW MOTION SETTINGS */
  transition:
    transform 1.6s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 1.6s ease;
    will-change: transform, border-radius, opacity;
}
/* Cart glow animation */
.cart-glow {
  animation: glowPulse 1.6s ease-out;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 0 rgba(255, 193, 7, 0);
  }
  50% {
    box-shadow: 0 0 15px 6px rgba(255, 193, 7, 0.9);
  }
  100% {
    box-shadow: 0 0 0 rgba(255, 193, 7, 0);
  }
}
.main-header {
  position: sticky; /* or fixed */
  top: 0;
  z-index: 1000;
  background: #fff;
  transition: transform 0.3s ease-in-out;
}

/* Hidden state */
.main-header.hide {
  transform: translateY(-100%);
}
/* Hide Google top translate bar */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

/* Remove top spacing added by Google */
body {
    top: 0px !important;
}

/* Hide Google translate widget */
.goog-te-gadget {
    display: none !important;
}

.skiptranslate iframe {
    display: none !important;
}
/* Hide Google translate popup/tooltip */
.goog-tooltip,
.goog-tooltip:hover,
.goog-text-highlight {
    display: none !important;
}

/* Remove yellow highlight/background */
.goog-text-highlight {
    background-color: transparent !important;
    box-shadow: none !important;
}

/* Hide translation balloon */
#goog-gt-tt,
.goog-te-balloon-frame {
    display: none !important;
}

/* Keep page fixed */
body {
    top: 0 !important;
}
/* Hide Google floating translate icon */
.goog-te-spinner-pos,
.goog-te-balloon-frame,
.goog-te-menu-frame,
.goog-logo-link,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf,
.VIpgJd-ZVi9od-aZ2wEe-OiiCO,
.VIpgJd-yAWNEb-L7lbkb {
    display: none !important;
}

#app-splash {
  position: fixed;
  inset: 0;
  background: #0B3A6E;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

#app-splash img {
  width: 100%;
  max-width: 450px;
  height: auto;
}

#app-splash.hide {
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}