
<div class="account-container">
    
    <div class="account-header">
        <span class="back-arrow"(click)="goBack()">&#8592;</span>
        <h2>Account</h2>
    </div>

    <div class="profile-section">
        <div class="profile-img"><mat-icon>person</mat-icon>
</div>

        <div class="profile-info">
            <h3>Dinesh Bhagat</h3>
            <p>dineshbhagat@gmail.com</p>
        </div>
    </div>

    <div class="account-list">
        <div class="list-item" routerLink="/my-order">
            <span class="icon"><mat-icon>inventory_2</mat-icon> </span>
            <span class="text"> Orders</span>
            <span class="arrow">›</span>
        </div>

        <div class="list-item" routerLink="/useraddress">
            <span class="icon"><mat-icon>location_on</mat-icon></span>
            <span class="text"> Addresses</span>
            <span class="arrow">›</span>
        </div>

        <!-- <div class="list-item">
            <span class="icon"><mat-icon>payments</mat-icon>  </span>
            <span class="text"> Payment Methods</span>
            <span class="arrow">›</span>
        </div> -->

        <div class="list-item" routerLink="/setting">
            <span class="icon"> <mat-icon>settings</mat-icon>  </span>
            <span class="text"> Settings</span>
            <span class="arrow">›</span>
        </div>

        <div class="list-item">
            <span class="icon"><mat-icon>exit_to_app</mat-icon></span>
            <span class="text">Log Out</span>
            <span class="arrow">›</span>
        </div>
    </div>

</div>
