.upi-card {
  width: 90%;
  max-width: 360px;
  margin: 40px auto;
  padding: 28px 20px;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.06);
  text-align: center;
  font-family: "Inter", sans-serif;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 18px;
}

.upi-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.upi-icon {
  width: 70px;
  object-fit: contain;
}
.upi-icon-p{
  width: 40px;
  object-fit: contain;

}
.or-text {
  margin: 10px 0;
  font-size: 15px;
  color: #666;
}

.upi-id {
  font-size: 17px;
  color: #333;
  margin-bottom: 25px;
}

.pay-btn {
  display: block;
  width: 100%;
  padding: 14px 0;
  background: #1576ff;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 20px;
  transition: 0.2s;
}

.pay-btn:hover {
  background: #0e63d4;
}

.paid-btn {
  width: 100%;
  padding: 14px 0;
  background: #2dbf49;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.paid-btn:hover {
  background: #26a43e;
}

